html{
    background-color: gray;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 250px;
    border: solid red;
    align-content: baseline;
}   

.pantalla{
    display: flex;
    align-items: end;
    border: solid blue;
    height: 50px;
    width: 244px;
}
.botonera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 194px;
    height: 224px;
    border: solid red;
}
.botoneraB{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 44px;
    height: 224px;
    border: solid purple;
}
